@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fontepadrao: 'Sriracha';
    --fontetitulo: 'Passion One' 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: aqua;
    height: 100vh;
}

header{
    background-color: black;
    text-align: center;
    color: white;
    font-variant: small-caps;
}

header > h1{
    padding-top: 50px;
    font-family: var(--fontetitulo);
    font-size: 5em;
}

header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

section{
    padding-left: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section > p{
    padding-bottom: 2em;
    font-family: 'Sriracha';
    font-weight: 400;
    font-size: 1.7em;
    line-height: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
}

.normal{
    background-color: whitesmoke;
}

.imagem{
    background-color: darkgrey;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
}

.imagem > p{
    color: white;
    width: 330px;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.39);
}

#joaninha{
    background: whitesmoke url(../imagens/background001.jpg) top right no-repeat fixed;
    background-size: cover;
}

#pagina{
    background: whitesmoke url(../imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}
